.headline{
    display: flex;
    justify-content: center;

}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.cont{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    justify-content: center;
}

.fade-out {
    opacity: 0;
}

#animatedText {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.img{
    display: flex;
    width: 60vh;
    justify-content: center;
    align-items: center;
}
